.container__content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
}

.content__cover > img {
  width: 500px;
  height: 300px;
  min-width: 500px;
  border: 5px solid grey;
  border-radius: 5px;
}

.content__description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__description > p {
  color: rgb(198, 197, 197);
}

#btVoltar {
  padding: 5px 12px;
  background-color: #ec1d24;
  display: block;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
}
